.benefits{
    &__items{
        padding-left: 25px;
        flex-wrap: wrap;
        display: flex;
    }
    &__item{
        align-items: flex-end;
        margin-bottom: 100px;
        display: flex;
        &:nth-child(even){
            transform: translateY(25px);
            margin-left: 30px;
        }
        &:nth-child(3){
            transform: translateY(-5px);
            margin-left: 30px;
        }
        &:nth-child(4){
            margin-left: 30px;
        }
        &:first-child,
        &:nth-child(3){
            position: relative;
            &::before{
                background-repeat: no-repeat;
                background-position: 0 0;
                position: absolute;
                content: '';
            }
        }
        &:first-child{
            &::before{
                background-image: url('../images/icons/line.svg');
                height: 121px;
                width: 245px;
                right: -8%;
                top: 31px ;
            }
        }
        &:nth-child(3){
            &::before{
                background-image: url('../images/icons/line-3.svg');
                width: 263px;
                height: 39px;
                right: -62px;
                top: 33px;
            }
            &::after{
                background-image: url('../images/icons/line-2.svg');
                background-repeat: no-repeat;
                background-position: 0 0;
                position: absolute;
                right: -25px;
                width: 463px;
                height: 62px;
                content: '';
                top: -73px;
            }
        }
   
    }
    &__num{
        @extend %ubuntu-bold;
        margin-right: 10px;
        line-height: 41px;
        font-size: 36px;
    }
    &__img{
        position: relative;
        margin-right: 32px;
        &::before{
            border: 2px solid #fff;
            position: absolute;
            height: 128px;
            right: -12px;
            width: 193px;
            content: '';
            z-index: -1;
            top: -12px;
        }
    }
    &__info{
        width: 300px;
    
    }
    &__info-title{
        @extend %ubuntu-bold;
        margin-bottom: 10px;
        line-height: 24px;
        font-size: 21px;
        width: 123px;
    }
    &__info-text{
        line-height: 18px;
        font-size: 15px;

    }
}
