.specification{
    &__inner{
        justify-content: space-between;
        align-items: center;
        padding-left: 15px;
        flex-wrap: wrap;
        display: flex;
    }
    &__item--center{
        margin-right: -15px;
        margin-left: -15px;
    }
    
    &__box{
        position: relative;
        margin-top: 10px;
        width: 280px;
        &::before{
            background-repeat: no-repeat;
            background-position: 0 0;
            background-size: contain;
            position: absolute;
            content: '';
        }    
    }
    &__box-2{
        // transform: translateY(25px);
        margin-top: 100px;
    }
    &__box-3{
        transform: translateY(-150px);
    }
    &__box-4{
        transform: translateX(900px);
        top: -140px;
        left: 50px;
        // margin-top: 200px;
    
    }
    &__box-1::before{
        background-image: url('../images/icons/pointer-1.svg');
        width: 229px;
        height: 114px;
        right: -170px;
        top: 26px;
    }
    &__box-2::before{
        background-image: url('../images/icons/pointer-2.svg');
        right: -311px;
        width: 346px;
        height: 81px;
        top: -35px;
    }
    &__box-3::before{
        background-image: url('../images/icons/pointer-3.svg');
        height: 103px;
        left: -265px;
        width: 258px;
        top: 60px;
    }
    &__box-4::before{
        background-image: url('../images/icons/pointer-4.svg'); 
        bottom: 123px;
        width: 124px;
        height: 89px;
        left: -160px;
    }
    &__box-title{
        @extend%ubuntu-bold;
        margin-bottom: 10px;
        line-height: 28px;
        font-size: 21px;
    }
    &__box-text{
        line-height: 18px;
        font-weight: 300;
        font-size: 15px;
    }
}